* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  background-image: url(../images/Manga_E77_Castle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

p, span, h2, label {
  color: #fff;
}

select {
  appearance: none;
}

textarea {
  resize: none;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: #292929b5;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(224, 224, 224, 0.137), transparent);
  z-index: 100;
}

.nav__logo a{
  font-size: 26px;
  font-weight: 500;
}

.nav__menu ul {
  display: flex;
}

.nav__menu ul li .link {
  font-weight: 400;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover, .active {
  border-bottom: 2px solid #fff;
}

.nav__btn .btn {
  padding: 10px 30px;
  font-weight: 500;
  background: #ffffff71;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.25s ease;
}

.nav__btn .white-btn {
  background: #ffffffdc;
}

#reg-btn {
  margin-left: 15px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.nav__menu-btn {
 display: none;
}

.container__job h2{
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 30px;
}

.job-application{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}

.name-and-preferences{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.login-container, form{
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.input__field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 37px;
  width: 100%;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 12px;
  outline: none;
  transition: 0.3s ease;
}

.input__field:hover, .input__field:focus {
  background: rgba(255, 255, 255, 0.5);
}

.form__input-box {
  width: 120%;
  margin-bottom: 15px;
}

.textarea__field {
  height: 120px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  outline: none;
  transition: .2s ease;
  color: #fff;
  width: 117%;
  margin-bottom: 10px;
}

.textarea__field:hover, .textarea__field:focus {
  background: rgba(255, 255, 255, 0.5);
}

.select__field {
  background: rgba(255, 255, 255, 0.2);
  height: 37px;
  width: 118%;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 12px;
  outline: none;
  transition: 0.3s ease;
  color: #fff;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #00000094;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.select__field:hover, .select__field:focus {
  background: rgba(255, 255, 255, 0.5);
}

.porfolio__container {
  text-align: center;
  width: 107%;
}

.porfolio__container input{
  width: 90%;
  margin-left: -3px;
}

.buttons {
  display: flex;
  margin-left: 23px;
  border-radius: 12px;
  width: 102%;
}

.form__btn {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  height: 45px;
  width: 88%;
  border-radius: 30px;
  border: none;
  background: #e2e2e290;
  outline: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  height: 37px;
}

.form__btn:hover {
  background: #e2e2e2;
  box-shadow: 1px 4px 8px 1px #cdcdcd46;
}